html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*padding-top: 60px;*/
    margin-bottom: 60px;
    background-image: url('/images/backgroundImage.jpg');
    background-size: cover; /* Resmin tüm sayfayı kaplamasını sağlar */
    background-repeat: no-repeat; /* Resmin tekrarlanmasını engeller */
    background-attachment: fixed; /* Arka planın kaydırma sırasında sabit kalmasını sağlar */
}

.customNavbar {
    background-color: transparent !important;
    color: white !important;
    transition: background-color 0.3s;
    /*position: fixed;*/ /* Navbar'ı üstte sabitler */
    /*top: 0;*/ /* Üst kenara sıfır piksel uzaklıkta olacak */
    /*left: 0;*/ /* Sol kenara sıfır piksel uzaklıkta olacak */
    /*width: 100%;*/ /* Tam genişlik */
    /*z-index: 1000;*/ /* Diğer içeriklerin üzerinde görünmesini sağlar */
}

/* Sayfa kaydırıldığında navbarın edineceği sınıf */
.scrolled-navbar {
    background-color: rgb(20,23,38) !important;
    color: white !important;
    position: fixed; /* Navbar'ı üstte sabitler */
    top: 0; /* Üst kenara sıfır piksel uzaklıkta olacak */
    left: 0; /* Sol kenara sıfır piksel uzaklıkta olacak */
    width: 100%; /* Tam genişlik */
    z-index: 1000; /* Diğer içeriklerin üzerinde görünmesini sağlar */
}

.dropboxMenus {
    background-color: rgb(20,23,38) !important;
    color: white !important;
}

.customFooter {
    background-color: rgb(20,23,38) !important;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.custom-select {
    background-color: transparent;
    color: white;
}

.custom-select option {
    background-color: #1C1F2E;
    color: white;
}

.custom-select:focus {
    background-color: #1C1F2E;
    outline: none;
    color: white;
}

/*
POPUP İÇERİĞİ DÜZENLEME CSSLERİ*/
.modalC {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.modal-contentC {
    max-width: 900px;
    width: 90%;
    background-color: #1C1F2E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.closeC {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}
