@{
    Layout = "_LayoutEmployeeSide";
}
@model Response

<title>Warning</title>



<div style="text-align: center; margin-top: 20px;">
    <h1 class = "text-light"> Warning Page </h1 >
        <br />
    <br />
    <p style="color: red;">Page not found.</p>
    <p style="color: red;">An unexpected error occurred.</p>
</div>
