html {
    font-size: 14px;
}

@media (min-width: 1080px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('assets/images/slide-03.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
