@{
    ViewData["Title"] = "DemandAdvance";
    Layout = "_LayoutEmployeeSide";
}
@model AdvanceViewModel



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <a asp-area="Employee" asp-action="ListAdvance" asp-controller="Advance" class="btn btn-primary" style="margin-left:20px">Back to List Advances</a>
            <br />

            @if (ViewBag.ErrorMessages != null)
            {
                <div class="alert alert-danger">
                    <p>@ViewBag.ErrorMessages</p>
                </div>
            }

            <div class="container justify-content-center">
                <form asp-controller="Advance" asp-action="DemandAdvance" method="post">
                    <div class="mb-3">
                        <label asp-for="AdvanceType" class="col-form-label" style="color:#FD8D00"></label>
                        <select asp-for="AdvanceType" class="form-control custom-select" asp-items="@ViewBag.AdvanceType"></select>
                        <span asp-validation-for="AdvanceType" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Currency" class="control-label" style="color:#FD8D00"></label>
                        <select asp-for="Currency" class="form-control custom-select" asp-items="@ViewBag.AdvanceCurrency"></select>
                        <span asp-validation-for="Currency" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label" asp-for="Amount" style="color:#FD8D00">Amount</label>
                        <input class="form-control text-light custom-select" asp-for="Amount" type="number" placeholder="Amount"/>
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="col-form-label" style="color:#FD8D00"></label>
                        <textarea class="form-control text-light custom-select" asp-for="Description" id="textarea-input" rows="9" placeholder="Please write the reason for your advance request..."></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn" style="background-color:#FD8D00">Demand Advance</button>
                </form>
            </div>
        </div>
    </div>
</div>
