
@* 
<style>
    body {
        background-image: url('backgroundImage.jpg');
        background-size: cover; /* Resmin tüm sayfayı kaplamasını sağlar */
        background-repeat: no-repeat; /* Resmin tekrarlanmasını engeller */
        background-attachment: fixed; /* Arka planın kaydırma sırasında sabit kalmasını sağlar */
    }
</style> *@

<h6>
    Welcome @ViewBag.Welcome !!!
</h6>