@model Response

@{
    ViewData["Title"] = "Worning";
}

<h1>Error Page</h1>

<p class="text-danger">@Model.Message</p>

@if (Model.Errors != null && Model.Errors.Any())
{
    <ul class="text-danger">
        @foreach (var error in Model.Errors)
        {
            <li>@error.Description</li>
        }
    </ul>
}

<form asp-controller="Home" asp-action="Error" method="post">
    <button type="submit">Return to Home</button>
</form>