@{
    ViewData["Title"] = "Login";
    Layout = "_SignInLayout";
}

@model LoginUserViewModel


   

    


<form asp-action="Login" method="post">
    <div class="mb-3">
        <label  asp-for="Email" class="form-label text-warning">Email:</label><br>
        <input type="email" asp-for="Email" placeholder="Email">

    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label text-warning">Password:</label><br>
        <input type="password" asp-for="Password" placeholder="Password">
    </div>


    <button type="submit" class="btn btn-success">Giriş Yap</button>

</form>















