@{
    ViewData["Title"] = "Login";
    Layout = "_EmployeeLayout";
}

@model LoginUserViewModel

<div class="container">
  <form asp-controller="Account" asp-action="Login" method="post">
    <div class="mb-3">
        <label asp-for="Email" class="form-label text-warning">Email Address</label><br>
        <input type="email" class="form-control" asp-for="Email" placeholder="Email"><br>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label text-warning">Password</label><br>
        <input type="password" class="form-control" asp-for="Password" placeholder="Password"><br>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
        <div class="text-danger">
            @Html.ValidationSummary()
        </div>
    <button type="submit" class="btn btn-success">LogIn</button>
  </form>
 </div>















